# dependencies
/node_modules
/.pnpm-store/
/.pnp
.pnp.*

# testing
/coverage
__pycache__/
.pytest_cache/

# build output
/.next/
/.vinext/
/out/
/dist/
/artifacts/
/.wrangler/
*.tsbuildinfo

# local files
.venv*/
.DS_Store
*.pem
.env*
!.env.example
npm-debug.log*
pnpm-debug.log*
